<div class="alert alert-success " role="alert">
  Dashboard
</div>
<div class="row">
  <div class="col-xl-6 mb-3">
    <div class="card">
        <p-chart type="doughnut" [data]="data"></p-chart>
    </div>
  </div>
  <div class="col-xl-6 mb-3">
      <div class="card">
          <p-chart type="line" [data]="data2"></p-chart>
      </div>
    </div>
    <div class="col-xl-6 mb-3">
        <div class="card">
            <p-chart type="bar" [data]="data1"></p-chart>
        </div>
      </div>
</div>